.o_gps_tracking_dashboard {
    display: flex;
    flex-wrap: wrap; /* Permite apilar los elementos si no hay suficiente espacio */
    height: 100%;
}

.o_gps_tracking_kanban {
    width: 20%;
    overflow-y: auto;
    padding: 10px;
    background-color: #f5f5f5;
    transition: width 0.3s ease; /* Animación suave para cambios de ancho */
    max-height: 92%;
}

@media (max-width: 768px) {
    .o_gps_tracking_kanban {
        width: 100%; /* Toma todo el ancho en pantallas pequeñas */
        height: 40%; /* Ajusta la altura cuando está apilado */
        margin-bottom: 10px;
    }
}

.kanban_toggle_view {
    top: 10px;
    right: 10px;
}

.o_gps_tracking_card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s ease; /* Añade una animación de escala */
}

.o_gps_tracking_card:hover {
    background-color: #e6f7ff;
    transform: scale(1.02); /* Destaca visualmente el hover */
}

.o_gps_tracking_map {
    width: 80%;
    height: 100%;
    transition: width 0.3s ease; /* Animación suave para cambios de ancho */
    position: relative;
    pointer-events: auto; /* Importante si quieres que el usuario pueda dar clic dentro del tooltip */
}

@media (max-width: 768px) {
    .o_gps_tracking_map {
        width: 100%; /* Toma todo el ancho en pantallas pequeñas */
        height: 60%; /* Ajusta la altura cuando está apilado */
    }
}

.o_gps_tracking_card.active {
    border-color: #28a745; /* Color verde para el dispositivo activo */
    background-color: #e6ffe6;
    transform: scale(1.01); /* Escala ligeramente el dispositivo activo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para mayor énfasis */
}

.o_gps_tracking_card.active:hover {
    background-color: #d4fcd4; /* Cambia ligeramente el color al pasar el mouse */
}

.kanban_info i {
    margin-right: 5px; /* Ajusta según sea necesario */
}

.expand_button {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 1.2em;
    color: #007bff;
    padding: 0;
    margin-right: 20px;
}
.expand_button:focus {
    outline: none;
}

#info {
    position: absolute;
    pointer-events: auto; /* Necesario para hacer clic en el botón */
    z-index: 9999;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    visibility: hidden; /* Por defecto */
}

.control-panel-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar {
    flex-grow: 1;
}

.ms-3 {
    margin-left: 1rem;
}

.dropdown-menu {
    min-width: 300px; /* Ajusta el ancho de los dropdowns */
}

/* Contenedor del switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Checkbox oculto */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider del toggle */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

/* Punto interior del toggle */
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Estado activo del toggle */
input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.kanban_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}

.card_header {
    flex-grow: 1;
    font-size: 1.2em;
}